:root{
    --orange:#f2c64e;
    --black:#333;
    --white: #fff;
    --dark-blue: #3e5d91;
    --light-color:rgb(129, 129, 129);
    --border:1px solid #0000001a;
    --box-shadow:0rem .5rem 2rem rgba(0,0,0,.3);
    --box-shadow1: .3rem .3rem .2rem rgba(117, 175, 250, 0.7);
    --box-shadow2: .3rem .2rem .2rem rgba(94, 94, 94, 0.7);
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section{
    padding:2rem 7%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    background:var(--white);
    color:var(--dark-blue);
    border-radius: .5rem;
    padding:.9rem 3rem;
    cursor: pointer;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--orange);
}

.header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: #f8faff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding:1.6rem 10%;
}

.header .logo{
    color:var(--black);
    font-size: 2.5rem;
    margin-right: auto;
}

.header .logo span{
    color:var(--dark-blue);
}

.header .navbar a{
    color:var(--black);
    margin-right: 2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
}

.header .navbar a:hover{
    color:var(--orange);
}

.header .icons i{
    height:4.5rem;
    line-height:4.5rem;
    width:4.5rem;
    text-align: center;
    color:var(--dark-blue);
    background:#eee;
    border-radius: 50%;
    margin-left: .7rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.header .icons i:hover{
    color:#fff;
    background:var(--orange);
}



#menu-bars{
    display: none;
}

.banner{
    min-height: 80vh;
    background:url(../images/banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    padding-top: 8rem;
    
}

.banner .content{
    text-align: center;
    background: var(--dark-blue);
    border-radius: .5rem;
    box-shadow: var(--box-shadow1);
    padding:2rem;
    max-width: 80rem;
}

.banner .content h3{
    font-size: 4.5rem;
    color:var(--white);
    text-transform: uppercase;
}

.banner .content p{
    font-size: 1.7rem;
    color:var(--white);
    padding:1rem 0;
    line-height: 1.5;
}

.container{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap:1.5rem;
    background:url(../images/container.jpg);
    background-position: center;
    
}

.container .posts-container .post{
    width:100%;
    padding:2rem;
    background:#ffffff;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow2);
    margin-bottom: 1.5rem;
}

.container .posts-container .post .image{
    height: 40rem;
    width:100%;
    border-radius: .5rem;
    object-fit: cover;
}

.container .posts-container .post .date{
    padding-top: 2rem;
    font-size: 1.5rem;
    color:var(--orange);
}

.container .posts-container .post .title{
    padding-top: 1.5rem;
    font-size: 2.7rem;
    color:var(--dark-blue);
}

.container .posts-container .post .text{
    color:var(--light-color);
    font-size: 1.6rem;
    line-height: 1.7;
    padding:1rem 0;
}

.container .posts-container .links{
    border-top: var(--border);
    margin-top: .5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
}

.container .posts-container .links .user{
    margin-right: auto;
}

.container .posts-container .links .icon{
    padding-right: 2rem;
}

.container .posts-container .links a{
    font-size: 1.5rem;
    color:var(--light-color);
}

.container .posts-container .links a i{
    padding-right: .2rem;
    color:var(--black);
}

.container .posts-container .links a:hover{
    color:var(--orange);
}

.container .posts-container .links a:hover i{
    color:var(--orange);
}

.container .sidebar .box{
    border:var(--border);
    border-radius: .5rem;
    overflow:hidden;
    background:#ffffff;
    box-shadow: var(--box-shadow2);
    margin-bottom: 1.5rem;
}

.container .sidebar .box .title{
    padding:1.5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--dark-blue);
    text-transform: capitalize;
}

.container .sidebar .box .about{
    text-align: center;
    padding:1rem 1.5rem;
}

.container .sidebar .box .about img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin:1rem 0;
}

.container .sidebar .box .about h3{
    color:var(--orange);
    font-size: 2rem;
}

.container .sidebar .box .about p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 1.5;
    padding:1rem;
}

.container .sidebar .box .about .follow{
    padding:1rem 0;
}

.container .sidebar .box .about .follow a{
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background:var(--dark-blue);
    color:#fff;
    font-size: 1.7rem;
    margin:0 .1rem;
}

.container .sidebar .box .about .follow a:hover{
    background:var(--orange);
}

.container .sidebar .box .category{
    padding:1rem 1.5rem;
}

.container .sidebar .box .category a{
    padding:.4rem 0;
    font-size: 1.5rem;
    color:var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .sidebar .box .category a span{
    background:var(--light-color);
    color:#fff;
    border-radius: .5rem;
    padding:.5rem;
}

.container .sidebar .box .category a:hover{
    color:var(--orange);
}

.container .sidebar .box .category a:hover span{
    background-color:var(--orange);
}

.container .sidebar .box .p-post{
    padding:1rem 2rem;
}

.container .sidebar .box .p-post a{
    padding:1rem 0;
    display: block;
}

.container .sidebar .box .p-post a h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.container .sidebar .box .p-post a span{
    color:var(--light-color);
    font-size: 1.5rem;
}

.container .sidebar .box .p-post a span i{
    padding-right: .2rem;
}

.container .sidebar .box .p-post a:hover h3{
    color:var(--orange);
}

.container .sidebar .box .tags{
    padding:1rem;
}

.container .sidebar .box .tags a{
    display: inline-block;
    padding:1rem 1.5rem;
    font-size: 1.5rem;
    color:var(--black);
    border-radius: .5rem;
    border:var(--border);
    margin:.5rem;
}

.container .sidebar .box .tags a:hover{
    background:var(--dark-blue);
    color:#fff;
}

.contact{
    background:url(../images/contact-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contact form{
    background:#fff;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem auto;
    max-width: 70rem;
    padding:2rem;
}

.contact form h3{
    color:var(--dark-blue);
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 3rem;
    text-transform: capitalize;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea{
    width:100%;
    background:#eee;
    padding:1rem;
    margin:.7rem 0;
    border-radius: .5rem;
    color:var(--black);
    font-size: 1.7rem;
}

.contact form .inputBox input{
    width:49%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

.footer .credit{
    text-transform: capitalize;
    font-size: 2rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer a{
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer a:hover{
    color:var(--orange);
}

.footer .credit span{
    color:var(--orange);
}

.footer .follow a{
    margin: .5rem;
}

.footer .follow img{
    width: 5rem;
}








.references{
    display: flex;
    grid-template-columns: 2.5fr 1fr;
    gap:1.5rem;
    background:url(../images/container.jpg);
    background-position: center;
    padding-top: 10rem;
}

.references .referencebox .referlink{
    width:100%;
    padding:2rem;
    background:#ffffff;
    box-shadow: var(--box-shadow2);
    border:var(--border);
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.references .referencebox .referlink h2{
    font-size: 2rem;
    margin-top: 2rem;
    color: var(--dark-blue);
}

.references .referencebox .referlink .title2{
    padding-top: 1.5rem;
    font-size: 2.7rem;
    color:var(--dark-blue);
}

.references .referencebox .referlink .text{
    color:var(--black);
    font-size: 1.6rem;
    line-height: 1.7;
    padding:1rem 0;
}

.references .referencebox .referlink .text a{
    color: var(--dark-blue);
}

.references .referencebox .referlink .text a:hover{
    color: var(--orange);
}

.references .referencebox .title{
    padding:1.5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    border-radius: .5rem;
    background:var(--dark-blue);
    text-transform: capitalize;
    margin-bottom: .5rem;
}

.references .referencebox .referlink .text i{
    border-radius: 50%;
    padding-right: 2rem;
    color: var(--dark-blue);
}

.references .referencebox .referlink .links a{
    padding-left: 2rem;
    font-size: 2rem;
    color:var(--dark-blue);
}

.references .referencebox .referlink .links a i{
    padding-right: .2rem;
    color:var(--dark-blue);
}

.references .referencebox .referlink .links a:hover{
    color:var(--orange);
}

.references .referencebox .referlink .links a:hover i{
    color:var(--orange);
}










/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem;
    }

    section{
        padding:2rem;
    }    

    .container{
        grid-template-columns: 2fr 1fr;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: inline-block;
    }

    .header .search-form{
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        width: 100%;
        border-radius: 0;
    }

    .header .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background: #fff;        
        display: none;
    }

    .header .navbar.active{
        display: block;
    }

    .header .navbar a{
        display: block;
        background:#e4e4e4;
        padding:1.5rem;
        margin:1.5rem;
        border-radius: .5rem;
        border:var(--border);
    }

    .container{
        grid-template-columns: 1fr;
        gap:0;
    }

    .container .posts-container .post .image{
        height: 30rem;;
    }

    .footer{
        flex-flow: column;
        text-align: center;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .contact form .inputBox input{
        width:100%;
    }    

}

/*---------- about us -----------*/   

.about-header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: #f8faff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding:1.6rem 10%;
}

.about-header .logo{
    color:var(--black);
    font-size: 2.5rem;
    margin-right: auto;
}

.about-header .logo span{
    color:var(--dark-blue);
}

.about-header .navbar a{
    color:var(--black);
    margin-right: 2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
}

.about-header .navbar a:hover{
    color:var(--orange);
}

.about-header .icons i{
    height:4.5rem;
    line-height:4.5rem;
    width:4.5rem;
    text-align: center;
    color:var(--dark-blue);
    background:#eee;
    border-radius: 50%;
    margin-left: .7rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.about-header .icons i:hover{
    color:#fff;
    background:var(--orange);
}

.contact-us{
    background:url(../images/container.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 5%;
}

.contact-us form{
    background: #ffffff;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem auto;
    max-width: 70rem;
    padding:2rem;
}

.contact-us form h3{
    color:var(--dark-blue);
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 3rem;
    text-transform: capitalize;
}

.contact-us form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-us form .inputBox input,
.contact-us form textarea{
    width:100%;
    background:#eee;
    padding:1rem;
    margin:.7rem 0;
    border-radius: .5rem;
    color:var(--black);
    font-size: 1.7rem;
}

.contact-us form .inputBox input{
    width:49%;
}

.contact-us .box-us{
    border:var(--border);
    border-radius: .5rem;
    overflow:hidden;
    background:#ffffff;
    box-shadow: var(--box-shadow);
    margin-bottom: 1.5rem;
    margin:6rem auto;
    max-width: 70rem;
}

.contact-us .box-us .title{
    padding:1.5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--dark-blue);
    text-transform: capitalize;
}

.contact-us .box-us .about-me{
    text-align: center;
    padding:1rem 1.5rem;
}

.contact-us .box-us .about-me img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin:1rem 0;
}

.contact-us .box-us .about-me h3{
    color:var(--orange);
    font-size: 2.5rem;
}

.contact-us .box-us .about-me p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 1.5;
    padding:1rem;
}

.contact-us .box-us .about-me .follow{
    padding:1rem 0;
}

.contact-us .box-us .about-me .follow a{
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background:var(--dark-blue);
    color:#fff;
    font-size: 1.7rem;
    margin:0 .1rem;
}

.contact-us .box-us .about-me .follow a:hover{
    background:var(--orange);
}











/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .about-header{
        padding:1.5rem;
    }

    section{
        padding:2rem;
    }    

    .container{
        grid-template-columns: 2fr 1fr;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: inline-block;
    }

    .about-header .search-form{
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        width: 100%;
        border-radius: 0;
    }

    .about-header .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background: #fff;        
        display: none;
    }

    .about-header .navbar.active{
        display: block;
    }

    .about-header .navbar a{
        display: block;
        background:#e4e4e4;
        padding:1.5rem;
        margin:1.5rem;
        border-radius: .5rem;
        border:var(--border);
    }

    .container{
        grid-template-columns: 1fr;
        gap:0;
    }

    .container .posts-container .post .image{
        height: 30rem;;
    }

    .footer{
        flex-flow: column;
        text-align: center;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .contact-us form .inputBox input{
        width:100%;
    }    
    
}







/*---------- Posts -----------*/

.post-header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: #f8faff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding:1.6rem 10%;
}

.post-header .logo{
    color:var(--black);
    font-size: 2.5rem;
    margin-right: auto;
}

.post-header .logo span{
    color:var(--dark-blue);
}

.post-header .navbar a{
    color:var(--black);
    margin-right: 2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
}

.post-header .navbar a:hover{
    color:var(--orange);
}

.post-header .icons i{
    height:4.5rem;
    line-height:4.5rem;
    width:4.5rem;
    text-align: center;
    color:var(--dark-blue);
    background:#eee;
    border-radius: 50%;
    margin-left: .7rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.post-header .icons i:hover{
    color:#fff;
    background:var(--orange);
}

.Pcontainer{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap:1.5rem;
    background:url(../images/container.jpg);
    background-position: center;
    padding-top: 10rem;
}

.Pcontainer .posts-container .post{
    width:100%;
    padding:2rem;
    background:#ffffff;
    box-shadow: var(--box-shadow2);
    border:var(--border);
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.Pcontainer .posts-container .post .image{
    height: 40rem;
    width:100%;
    border-radius: .5rem;
    object-fit: cover;
}

.Pcontainer .posts-container .post .date{
    padding-top: 2rem;
    font-size: 1.5rem;
    color:var(--orange);
}

.Pcontainer .posts-container .post .title{
    padding-top: 1.5rem;
    font-size: 2.7rem;
    color:var(--dark-blue);
}

.Pcontainer .posts-container .post .text{
    color:var(--light-color);
    font-size: 1.6rem;
    line-height: 1.7;
    padding:1rem 0;
}

.Pcontainer .posts-container .links{
    border-top: var(--border);
    margin-top: .5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
}

.Pcontainer .posts-container .links .user{
    margin-right: auto;
}

.Pcontainer .posts-container .links .icon{
    padding-right: 2rem;
}

.Pcontainer .posts-container .links a{
    font-size: 1.5rem;
    color:var(--light-color);
}

.Pcontainer .posts-container .links a i{
    padding-right: .2rem;
    color:var(--black);
}

.Pcontainer .posts-container .links a:hover{
    color:var(--orange);
}

.Pcontainer .posts-container .links a:hover i{
    color:var(--orange);
}

.Pcontainer .sidebar .box{
    border:var(--border);
    border-radius: .5rem;
    overflow:hidden;
    background:#ffffff;
    box-shadow: var(--box-shadow2);
    margin-bottom: 1.5rem;
}

.Pcontainer .sidebar .box .title{
    padding:1.5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--dark-blue);
    text-transform: capitalize;
}

.Pcontainer .sidebar .box .category{
    padding:1rem 1.5rem;
}

.Pcontainer .sidebar .box .category a{
    padding:.4rem 0;
    font-size: 1.5rem;
    color:var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Pcontainer .sidebar .box .category a span{
    background:var(--light-color);
    color:#fff;
    border-radius: .5rem;
    padding:.5rem;
}

.Pcontainer .sidebar .box .category a:hover{
    color:var(--orange);
}

.Pcontainer .sidebar .box .category a:hover span{
    background-color:var(--orange);
}

.Pcontainer .sidebar .box .p-post{
    padding:1rem 2rem;
}

.Pcontainer .sidebar .box .p-post a{
    padding:1rem 0;
    display: block;
}

.Pcontainer .sidebar .box .p-post a h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.Pcontainer .sidebar .box .p-post a span{
    color:var(--light-color);
    font-size: 1.5rem;
}

.Pcontainer .sidebar .box .p-post a span i{
    padding-right: .2rem;
}

.Pcontainer .sidebar .box .p-post a:hover h3{
    color:var(--orange);
}

.Pcontainer .sidebar .box .tags{
    padding:1rem;
}

.Pcontainer .sidebar .box .tags a{
    display: inline-block;
    padding:1rem 1.5rem;
    font-size: 1.5rem;
    color:var(--black);
    border-radius: .5rem;
    border:var(--border);
    margin:.5rem;
}

.Pcontainer .sidebar .box .tags a:hover{
    background:var(--dark-blue);
    color:#fff;
}




@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .post-header{
        padding:1.5rem;
    }

    section{
        padding:2rem;
    }    

    .container{
        grid-template-columns: 2fr 1fr;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: inline-block;
    }

    .post-header .search-form{
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        width: 100%;
        border-radius: 0;
    }

    .post-header .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background: #fff;        
        display: none;
    }

    .post-header .navbar.active{
        display: block;
    }

    .post-header .navbar a{
        display: block;
        background:#e4e4e4;
        padding:1.5rem;
        margin:1.5rem;
        border-radius: .5rem;
        border:var(--border);
    }

    .container{
        grid-template-columns: 1fr;
        gap:0;
    }

    .container .posts-container .post .image{
        height: 30rem;;
    }

    .footer{
        flex-flow: column;
        text-align: center;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .contact-us form .inputBox input{
        width:100%;
    }    

}